body{
    padding: 0;
    margin: 0;
    background-color: rgb(12, 195, 195);
}
li{
    list-style-type: none;
    font-size: 2rem;
    background-color: aqua;
    margin: 45px;
    padding: 10px;
    border-radius: 16px;
}
p{
    font-size: 28px;
    color: rgb(40, 9, 215);
}
.container{
    background-color: red;
    margin: auto;
    width: 364px;
    height: 100vh;
    padding: 10px; 
}
