body{
    margin: 0;
    padding: 0;
    font-size: 20px;
}
.container{
    margin: auto;
    width: 364px;
    padding: 10px; 
}
.img_back{
    width: 40px;
    height: 40px;
    background-color: red;
    position: fixed;
}
img{
    width: 100%;
    height: auto;
    border-radius: 5px;
}
.box3{
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 10px;
}
/* From Uiverse.io by reglobby */ 
input {
  border: 2px solid transparent;
  width: 15em;
  height: 3.5em;
  padding-left: 0.8em;
  outline: none;
  overflow: hidden;
  background-color: #F3F3F3;
  border-radius: 10px;
  border-color: #4A9DEC;
  transition: all 0.5s;
  margin-right: 30px;
}

input:hover,
input:focus {
  border: 2px solid #4A9DEC;
  box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
  background-color: white;
}
.button {
  --bg: #000;
  --hover-bg: #c6b8c3;
  --hover-text: #000;
  color: #fff;
  cursor: pointer;
  border: 1px solid var(--bg);
  border-radius: 4px;
  padding: 0.8em 2em;
  background: var(--bg);
  transition: 0.2s;
}

.button:hover {
  color: var(--hover-text);
  transform: translate(-0.25rem, -0.25rem);
  background: var(--hover-bg);
  box-shadow: 0.25rem 0.25rem var(--bg);
}

.button:active {
  transform: translate(0);
  box-shadow: none;
}
