body{
    margin: 0;
    padding: 0;
    font-size: 20px;
}
.container{
    margin: auto;
    width: 364px;
    padding: 10px; 
}
.img_back{
    width: 40px;
    height: 40px;
    background-color: red;
    position: fixed;
}
img{
    width: 100%;
    height: auto;
    border-radius: 5px;
}