body{
    padding: 0;
    margin: 0;
    color:white;
    font-size: 20px;
}
.container{
    background: linear-gradient(159deg,rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 69%); 
    padding: 10px;
    margin: auto;
    width: 364px;
}
.img_back{
    width: 40px;
    height: 40px;
    position: fixed;
    
}

img{
    width: 100%;
    height: auto;
    border-radius: 5px;
}
